KebabOfCode.iml
.idea/
**/obj/**
**/bin/**
**/.vs/**
*.txt
*.jar
2021/ture/META-INF
2021/ture/main/
2021/ture/run_day_x.sh
*.v2
*.v1
*.suo
*.testlog.manifest
*.testlog
2021/kotrum/build/**
.gradle/
**.DS_Store**
