endre/AdventOfCode/.vs/AdventOfCode/v16/.suo
endre/AdventOfCode/.vs/AdventOfCode/v16/TestStore/0/000.testlog
endre/AdventOfCode/.vs/AdventOfCode/v16/TestStore/0/testlog.manifest
endre/AdventOfCode/AdventOfCode/obj/AdventOfCode.csproj.nuget.dgspec.json
endre/AdventOfCode/AdventOfCode/obj/AdventOfCode.csproj.nuget.g.props
endre/AdventOfCode/AdventOfCode/obj/AdventOfCode.csproj.nuget.g.targets
endre/AdventOfCode/AdventOfCode/obj/project.assets.json
endre/AdventOfCode/AdventOfCode/obj/project.nuget.cache
endre/AdventOfCode/AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.AssemblyInfo.cs
endre/AdventOfCode/AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.AssemblyInfoInputs.cache
endre/AdventOfCode/AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.assets.cache
endre/AdventOfCode/AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csprojAssemblyReference.cache
KebabOfCode.iml
.idea/
*.txt
*.jar
endre/AdventOfCode/AdventOfCode/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
endre/AdventOfCode/AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.GeneratedMSBuildEditorConfig.editorconfig
